<h1 style="text-align: center; font-size: 65px;">{{ block.settings.title }}</h1>
<div class="container--frontpage FeaturedCollection__TopBorder" style="margin-top: 25px">
    <p class="Text_Page_text">
      {{ block.settings.text }}
  </p>
</div>