<div class="container--frontpage FeaturedCollection__TopBorder" style="margin-top: 45px">
    <h3 class="SectionHeader__SubHeading Heading SubHeading__Collection u-h6 SectionHeader__SubHeading--text-start">{{ block.settings.title }}</h3>
</div>