<div
            class="BeforeAndAfter"
    >
   <div id="textBeforeAfter" style="padding-left: 6vw; padding-right: 6vw;">

            {{ block.settings.text }}

        </div>
       <div class="comparisonBox">
            <div id="comparison">
                <figure style="background-image: url({{ block.settings.image }});">
                </figure>
            </div>
        </div>
       
       
    </div>