<h1 style="text-align: center; font-size: 60px; padding-top: 30px;">
  {{ section.settings.title }}
</h1>
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
{% schema %}
{
  "name": "Shop title",
  "settings": [
{
    "type": "text",
"id": "title",
"label": "Title",
"default": "#"
}
],
"presets": [
{
"name": "Hero video",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}