<div class="collabsContainer">
	<img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/vogue.png?v=1653857215" width="auto" height="100%">
  <img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/dba_logo.png?v=1653857215" width="auto" height="100%">
  <img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/euroman.jpg?v=1653857215" width="auto" height="100%">
</div>
<div class="marquee marqueeContainer colaborationsMarquee">
  <div class="collabsContainerMobile">
    <img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/vogue.png?v=1653857215">
  	<img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/dba_logo.png?v=1653857215">
  	<img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/euroman.jpg?v=1653857215>
  </div>
</div>
{% schema %}
{
"name": "Collabs",
"settings": [
],
"presets": [
{
"name": "Collabs",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
