<div class="container--frontpage FeaturedCollection__TopBorder" style="margin-top: 45px">
    <h3 class="SectionHeader__SubHeading Heading SubHeading__Collection u-h6 SectionHeader__SubHeading--text-start">{{ section.settings.Headline | escape }}</h3>
</div>
{% schema %}
{
"name": "Divider and headline",
"settings": [
{
"type": "text",
"id": "Headline",
"label": "Headline"
}
],
"presets": [
{
"name": "Divider and headline",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
