<section class="welcome">
<div class="HeroVideoTextButtons">
    <video width="100vw" height="auto" autoplay muted>
        <source src="https://cdn.shopify.com/videos/c/o/v/4ddb212e12a849d68ff9d6c9bbc4ddd2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
</section>
{% schema %}
{
"name": "Hero video",
"settings": [],
"presets": [
{
"name": "Hero video",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
.welcome {
	background: red;
	width: 1000px;
	height: 900px;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
