<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" >
  <div class="marquee marqueeContainer">
    <img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/customer_2.jpg?v=1653858390">
  	<img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/customer_1.jpg?v=1653858331">
    <img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/customer_3.jpg?v=1653858731">
    <img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/customer_4.jpg?v=1653858983">
    <img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/customer_5.jpg?v=1653859018">
  </div>
</section>

<script>
$(function () {
  $('.marquee').marquee({
    speed: 100,
    duplicated: true,
    startVisible: true,
    gap: 10
  });
});
</script>
{% schema %}
{
"name": "Images marquee",
"settings": [
],
"presets": [
{
"name": "Images marquee",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
