<div class="marqueeContainer">
  <marquee>
	<img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/customer_2.jpg?v=1653858390">
  	<img src="https://cdn.shopify.com/s/files/1/0566/6953/6418/files/customer_1.jpg?v=1653858331">
  </marquee>
</div>
{% schema %}
{
"name": "Images marquee",
"settings": [
],
"presets": [
{
"name": "Images marquee",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
