{% section 'big-shop-title' %}
<div class="container--frontpage FeaturedCollection__TopBorder" style="margin-top: 45px">
    <h3 class="SectionHeader__SubHeading Heading SubHeading__Collection u-h6 SectionHeader__SubHeading--text-start">PRODUKTER</h3>
</div>
{% section 'collection-template' %}
<div class="container--frontpage FeaturedCollection__TopBorder" style="margin-top: 45px">
    <h3 class="SectionHeader__SubHeading Heading SubHeading__Collection u-h6 SectionHeader__SubHeading--text-start">SETS</h3>
</div>
{% section 'collection-template' %}
{% section 'collection-footer' %}